.intro-page{
    font-family: 'Whitney-Medium', 'Whitney Medium', 'Whitney';
    color:#4D4D4F;
    padding: 15px;
    .row {
        justify-content: center;
    }

.title-row{
    margin-bottom: 18px;
    li {
font-weight: 300;
font-style: normal;
font-size: 19px;
color: #4D4D4F;
line-height: 27px;
margin-top: 12px;

    
    }
}
.quick-tips {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #007AC9;
}
.tips {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #4D4D4F;
}
}