<div class="container  page-content">
  <div class="deskalert-page">
    <div class="center-body">
      <div>
        <img src="assets/imgs/desktop.png">
      </div>
      <div class="text">
        <p>
          You've reached Plymouth Rock Auto Claim Car Pics, but we work best on your mobile device! Please copy and paste this url
          into your phone browser.
        </p>
      </div>
      <div class="footer">
        <ul class="footer-item">
          <li>
            <a target="_blank" href="https://www.facebook.com/PlymouthRockAssurance/">
              <img id="social-facebook" class="social" src="assets/imgs/social-facebook.png" alt="">
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/plymouthrock">
              <img id="social-twitter" class="social" src="assets/imgs/social-twitter.png" alt="">
            </a>
          </li>
          <li>
            <a target="_blank" href="https://plus.google.com/+plymouthrockinsurance">
              <img id="social-googleplus" class="social" alt="" src="assets/imgs/social-googleplus.png">
            </a>
          </li>
          <li>
            <a target="_blank" href="https://blog.plymouthrock.com/">
              <img id="social-blog" class="social" alt="" src="assets/imgs/social-blog.png">
            </a>
          </li>
        </ul>
        <p class="call-for-quote">Call for a quote 855-993-4470</p>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Ways to Save</a></li>
        </ul>
        <ul>
          <li><a href="">Agent Web</a></li>
          <li>
            <a target="_blank" href="https://www.plymouthrock.com/privacy-policy">Privacy &amp; Security</a>
          </li>
          <li>
            <a target="_blank" href="https://www.plymouthrock.com/internet-policy">Terms &amp; Conditions</a>
          </li>
          <li><a href="">Site Map</a></li>
          <li><a href="">States licensed & Disclaimers</a></li>
        </ul>
        <div>
          <p class="copyright">© 2018 Plymouth Rock Assurance. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>