<div class="container  page-content">
  <div class="thankyou-page">
    <div class="row">
      <p class="title">Thank you!</p>
      <p class="text bold-text"><strong>Your photos have been submitted!</strong></p>
      <p class="text">You will receive a confirmation via text momentarily.</p>
      <p class="text">We’ll now review the photos you have provided and will contact you soon to discuss the next steps.</p>
    </div>
    <div class="row">
      <button class="btn btn-primary orange-btn" (click)="closeBrowser()" ion-button color="secondary">Close Window</button>
    </div>
  </div>
</div>