.thankyou-page {
    font-family: 'Whitney-Medium', 'Whitney Medium', 'Whitney';
    color:#4D4D4F;
    padding: 15px;
    .row {
        justify-content: center;
    }
    .title {
        font-weight: bold;
        font-style: normal;
        font-size: 30px;
        color: rgb(0, 122, 201);
        text-align: center;
        line-height: 20px;
        border-width: 0px;
        margin-bottom: 18px;
        margin-top: 10px;
    }
    .text {
        font-weight: 200;
        font-style: normal;
        font-size: 20px;
        color: rgb(77, 77, 79);
        line-height: 30px;
        border-width: 0px;
        word-wrap: break-word;
        margin-top: 0px;
        
    }
    .bold-text {
        font-weight: bolder;
    }

}